- let toid = t => t.toLowerCase().replace(/[^\w]+/g, "-").replace(/^-+|-+$/g, "")
- let paths = filename.split('/')
- let rawlang = paths.at(-2)
- let lang = {'en': 'en-US', 'tok': 'tok'}[rawlang] || 'pt-BR'
- let langs = [ 'pt-BR', 'en-US', 'tok' ]
- let file = paths.at(-1).replace('.pug', '')
- let translations = [[ 'índice', 'index', 'open' ], [ 'sobre-mim', 'about-me', 'ijo-mi' ], [ 'outros-sites', 'other-sites', 'lipu-ante' ]]
- let translate = (s, l) => translations.find(tls => tls.indexOf(s) != -1)[langs.indexOf(l)]
- let path = f => translate(f, 'en-US') == 'index' ? './' : f
- let title = f => translate(f, lang).replace(/-/g, ' ')

mixin link
  a(target="_blank" rel="noopener noreferrer")&attributes(attributes)
    block

mixin h1(text)
  - var id = toid(text)
  h1(id=id)
    a.heading-anchor(href="#"+id)= text

mixin nav-item(f, next=true)
  - let trFile = translate(f, lang)
  if trFile == file || file == 'index' && f == file
    = title(trFile)
  else
    a(href=path(trFile))= title(trFile)
  if next
    |  / 

mixin nav-lang(name, code, desc, next=true)
  - let prefix = lang == 'pt-BR' ? name : code == 'pt-BR' ? '..' : `../${name}`
  abbr(title=desc)
    if code == lang
      = name
    else
      a(href=`${prefix}/${path(translate(file, code))}`)= name
  if next
    |  / 

mixin nav
  span
    +nav-item("index")
    +nav-item("sobre-mim")
    +nav-item("outros-sites", false)
  .grow
  span
    +nav-lang("pt", "pt-BR", "português")
    +nav-lang("en", "en-US", "english")
    +nav-lang("tok", "tok", "toki pona", false)

mixin site(link, name, proto="https://", index="/")
  li
    =name
    |: 
    +link(href=`${proto}${link}${index}`)= link

mixin project(name, href)
  li: p
    +link(href=href)= name
    |: 
    block

mixin social(network, username, href="")
  li= network
    |: 
    if href
      +link(href=href)= username
    else
      =username
